<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
 
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand " href="#" style="color: floralwhite;">codeX</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
              <br/>
              <br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
                <h2 style="color: rgb(185, 159, 12)"><strong> <%= heading %> </strong></h2>
                <hr>
        </div>
    </div>
    <div class="row">
       <div class="col-md-12">
            <small><strong sty>DESCRIPTION</strong></small>
       </div>
    </div>
    <br/>
    <div class="row">
            <div class="col-sm-12 col-md-12">
                    <p style="font-family: 'Lucida Sans';"> <%= description %></p>
                    <br/>
            </div>
    </div>

    <div class="row">
            <div class="col-sm-12 col-md-6">
                    <h5 ><strong>Input</strong></h5>
                    <br/>
                    <p >
                            <%= input %>
                    </p>
            </div>
    </div>
    <br/>

    <div class="row">
            <div class="col-sm-12 col-md-6">
                    <h5 ><strong>Output</strong></h5>
                    <br/>
                    <p >
                            <%= output %>
                    </p>
            </div>
    </div>
    <br/>

    <div class="row">
            <div class="col-sm-12 col-md-6">
                    <h5 ><strong>Sample Input</strong></h5>
                    <br/>
                    <p >
                            <%= sampleinput %>
                    </p>
            </div>
    </div>
    <br/>
    <div class="row">
            <div class="col-sm-12 col-md-6">
                    <h5 ><strong>Sample Output</strong></h5>
                    <br/>
                    <p >
                        <%= sampleoutput %>
                    </p>
            </div>
    </div>

    <br/>
    <div class="row" style="height: 200px; width:70%;">
            <div class="col-md-0">
                
            </div>
            <div class="col-sm-12 col-md-12" style="align-content: center;">
                    <h5 style="color: indigo;"><strong>Code</strong></h5>
                    <br/>

                  <pre class="prettyprint" style="background-color: rgb(248, 245, 241) ;  text-align: center; border-radius: 20px; color: white;">
                        <div style="margin-top: 5px; margin-bottom: 5px;">
                                <%= code %>
                        </div>
                        
                  </pre>
            </div>
            <div class="col-md-0">
                
            </div>
    </div>
</div>








    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>